* {
    text-decoration: none;
    list-style: none;
    color: black;
    font-size: 1em;
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body{
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 5fr 1fr;
}

header{
    background-color: antiquewhite;
}

main{
    background-color: azure;
    display: grid;
}

.booksContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));;
    gap: 10px;
    height: 100%;
    width: 70%;
    justify-self: center;
    background-color: violet;
}

.booksContainer > div {
    background-color: aqua;
}

footer{
    background-color: antiquewhite;
}